name: Build tools and toolchain

on: [workflow_dispatch]

permissions: write-all

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main
    
    - name: Initialize environment
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        sudo apt update 
        sudo apt install build-essential clang flex bison g++ gawk gcc-multilib g++-multilib \
        gettext git libncurses5-dev libssl-dev python3-distutils rsync unzip zlib1g-dev \
        file wget
      
    - name: Update feeds
      run: cd $GITHUB_WORKSPACE && ./scripts/feeds update -a
      
    - name: Install feeds
      run: cd $GITHUB_WORKSPACE && ./scripts/feeds install -a

    - name: Make defconfig
      run: |
        cd $GITHUB_WORKSPACE 
        wget https://downloads.openwrt.org/snapshots/targets/mvebu/cortexa9/config.buildinfo -O .config
        make defconfig
    - name: Compile tools and toolchain
      run: |
        cd $GITHUB_WORKSPACE
        make tools/compile
        make toolchain/compile
        tar -cJf toolchain.tar.xz build_dir staging_dir
    - name: Upload directories
      uses: actions/upload-artifact@main
      with:
        name: build_upload
        path: |
          toolchain.tar.xz
    - name: Upload files
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: toolchain-latest
        prerelease: false
        title: Latest toolchain
        files: |
           toolchain.tar.xz
