name: Build mwlwifi

on: [workflow_dispatch]

permissions: write-all

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main
    
    - name: Initialize environment
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        sudo apt update 
        sudo apt install build-essential clang flex bison g++ gawk gcc-multilib g++-multilib \
        gettext git libncurses5-dev libssl-dev python3-distutils rsync unzip zlib1g-dev \
        file wget

    - name: Install sdk
      run: |
        cd $GITHUB_WORKSPACE
        wget https://downloads.openwrt.org/releases/23.05-SNAPSHOT/targets/mvebu/cortexa9/config.buildinfo -O .config
        wget https://downloads.openwrt.org/releases/23.05-SNAPSHOT/targets/mvebu/cortexa9/openwrt-sdk-23.05-SNAPSHOT-mvebu-cortexa9_gcc-12.3.0_musl_eabi.Linux-x86_64.tar.xz
        tar -xhf openwrt-sdk-*.tar.xz
        rsync -a openwrt-sdk-23.05-SNAPSHOT-mvebu-cortexa9_gcc-12.3.0_musl_eabi.Linux-x86_64/* .

    - name: Update feeds
      run: cd $GITHUB_WORKSPACE && ./scripts/feeds update -a
      
    - name: Install feeds
      run: cd $GITHUB_WORKSPACE && ./scripts/feeds install -a

    - name: Make defconfig
      run: |
        cd $GITHUB_WORKSPACE
        make defconfig
        
    - name: Build Image
      run: |
        cd $GITHUB_WORKSPACE
        make package/kernel/mwlwifi/compile V=s
    - name: Upload directories
      uses: actions/upload-artifact@main
      with:
        name: build_upload
        path: |
          bin

    - name: Upload files
      uses: maggie44/actions/packages/automatic-releases@built-packages
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: mwlwifi-latest
        prerelease: false
        title: Latest mwlwifi
        files: |
          bin/targets/mvebu/cortexa9/packages/kmod-mwlwifi_*.ipk
          bin/targets/mvebu/cortexa9/packages/mwlwifi-firmware-*.ipk
